﻿@{
  Layout = "_Layout";
}

@using Gather.Models;


<h1>Welcome to Gathering, the Magic Event Planner!</h1>
<hr>
<h3>Please Login or create an account</h3>
<hr>
@Html.ActionLink("Login/Create Account", "Index", "Account")
<p>@Html.ActionLink("Manage Gathering", "Index", "Gatherings")</p>
<p>@Html.ActionLink("Manage Guests", "Index", "Guests")</p>
<p>@Html.ActionLink("Manage Vendors", "Index", "Vendors")</p>
<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>