@{
  Layout = "_Layout";
}

@model Gather.Models.Gathering;

<h2>Add Vendors</h2>
<h4>Add Vendors to this Gathering: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.GatheringId)

  @Html.Label("Select Vendor")
  @Html.DropDownList("VendorId")
  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Gatherings", "Index")</p>