@{
  Layout = "_Layout";
}

@model Gather.Models.Gathering

<h4>Create your gathering!</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Title)
  @Html.TextBoxFor(model => model.Title)

  @Html.LabelFor(model => model.Date)
  @Html.EditorFor(model => model.Date)

  @Html.LabelFor(model => model.Location)
  @Html.TextBoxFor(model => model.Location)

  @Html.LabelFor(model => model.About)
  @Html.TextBoxFor(model => model.About)

  <input type="submit" value="add new gathering" />
}
<p>@Html.ActionLink("Show all gatherings", "Index")</p>