@{
  Layout = "_Layout";
}

@using Gather.Models
@model Gather.Models.Gathering

<h2>Guests:</h2>

<hr>
<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>

@if (@Model.GatheringUsers.Count == 0)
{
  <p>this gathering does not have any guests yet.</p>
}

else
{
  <h4>This Gathering has the following guests:</h4>
  <ul>
    @foreach (GatheringUser join in Model.GatheringUsers)
    {
      <li>User: @join.User</li>

      @using (Html.BeginForm("RemoveGuest", "Gatherings"))
      {
        @Html.Hidden("joinId", @join.GatheringUserId)
        <input type="submit" value="Delete" />
      }
    }
  </ul>
}

<hr>

@if (@Model.GatheringVendors.Count == 0)
{
  <p>this gathering does not have any Vendors yet</p>
}
else
{
  <h4>This Gatherings has the following vendors:</h4>
  <ul>
    @foreach (GatheringVendor join in Model.GatheringVendors)
    {
      @if (join.Vendor != null)
      {
        <li>Vendor: @join.Vendor.VendorName</li>
      }
      @using (Html.BeginForm("DeleteVendor", "Gatherings"))
      {
        @Html.Hidden("joinId", @join.GatheringVendorId)
        <input type="submit" value="Delete" />
      }
    }
  </ul>
}

<hr>

@if (@Model.GatheringItems.Count == 0)
{
  <p>This gathering does not have any items yet.</p>
}
else
{
  <h4>This Gatherings has the following items:</h4>
  <ul>
    @foreach (GatheringItem join in Model.GatheringItems)
    {
      @if (join.Item != null)
      {
        <li>Tag: @join.Item.ItemName</li>
      }
      @using (Html.BeginForm("DeleteItem", "Gatherings"))
      {
        @Html.Hidden("joinId", @join.GatheringItemId)
        <input type="submit" value="Delete" />
      }
    }
  </ul>
}

<h3>@Html.DisplayNameFor(model => model.About):</h3>
<p>@Html.DisplayFor(model => model.About)</p>

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Add a Guest", "AddGuest", new { id = Model.GatheringId })</p>
<p>@Html.ActionLink("Add a Vendor", "AddVendor", new { id = Model.GatheringId})</p>
<p>@Html.ActionLink("Add an Activity", "AddActivity", new { id = Model.GatheringId })</p>
<p>@Html.ActionLink("Add an Item", "AddItem", new { id = Model.GatheringId })</p>
<p>@Html.ActionLink("Edit Gathering", "Edit", new { id = Model.GatheringId })</p>
<p>@Html.ActionLink("Delete Gathering", "Delete", new { id = Model.GatheringId })</p>