@{
    Layout = "_Layout";
}

@using Gather.Models
@model Gather.Models.Activity

<h4>Edit your activity!</h4>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ActivityId)

    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Description)
    @Html.TextAreaFor(model => model.Description, new { cols=80, rows=10 })

    <input type="submit" value="add new activity" />
}

<p>@Html.ActionLink("Show all activities", "Index")</p>