@{
  Layout = "_Layout";
}

@model Gather.Models.Event

<h4>Add your recipe!</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Title)
  @Html.TextBoxFor(model => model.Title)

  @Html.LabelFor(model => model.TimeDate)
  @Html.EditorFor(model => model.TimeDate)

  @Html.LabelFor(model => model.Location)
  @Html.TextBoxFor(model => model.Location)

  @Html.LabelFor(model => model.About)
  @Html.TextBoxFor(model => model.About)

  <input type="submit" value="add new event" />
}
<p>@Html.ActionLink("Show all events", "Index")</p>