@{
    Layout = "_Layout";
}

@using Gather.Models
@model Gather.Models.Event

<h2>Recipe:</h2>

<hr>
<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>this event does not have any guests yet.</p>
}

else
{
  <h4>This Event has the following guets/Vendors:</h4>
  <ul>
    @foreach(EventUser join in Model.JoinEntities)
    {
            @if (join.User != null)
{
      <li>User: @join.User.UserName</li>
}
      @using (Html.BeginForm("DeleteUser", "Events"))
      {
        @Html.Hidden("joinId", @join.EventUserId)
        <input type="submit" value="Delete"/>
      }
  }
  </ul>
}

@if(@Model.JoinVendor.Count == 0)
{
  <p>this event does not have any Vendors yet</p>
}
else
{
  <h4>This Events has the following vendors:</h4>
  <ul>
    @foreach(EventVendor join in Model.JoinVendor)
    {
        @if (join.Vendor != null)
        {
        <li>Tag: @join.Vendor.Title</li>
        }
      @using (Html.BeginForm("DeleteTag", "Recipes"))
      {
        @Html.Hidden("joinId", @join.RecipeTagId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
    
}

<h3>@Html.DisplayNameFor(model => model.Instruction):</h3> 
<p>@Html.DisplayFor(model => model.Instruction)</p>

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Add an Ingredient", "AddIngredient", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Add Tag", "AddTag", new { id = Model.RecipeId})</p>
<p>@Html.ActionLink("Add User", "AddUser", new { id = Model.RecipeId})</p>
<p>@Html.ActionLink("Edit Recipe", "Edit", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Delete Recipe", "Delete", new { id = Model.RecipeId })</p>