@{
    Layout = "_Layout";
}

@model Gather.Models.Vendor

<h4>Add your vendor!</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.VendorName)
    <br>
    @Html.TextBoxFor(model => model.VendorName)
    <br>
    <br>
    @Html.LabelFor(model => model.About)
    <br>
    @Html.TextAreaFor(model => model.About, new { cols=80, rows=10 })
    <br>
    <br>
    <input type="submit" value="add new vendor" />
}
<hr>
<div id="links">
    <p>@Html.ActionLink("Show all vendors", "Index")</p>
</div>